<div class="page404">
    <div class="container ">
        <br>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-sm-4 left-col">
                <h1>Error - 404 </h1>
                <br>
                <br>
                <br>
                <h1>Page Not Available. </h1>
            </div>
            <div class="col-xl-6 col-sm-4 right-col">
                <div class="cardShow">
                    <div class="top">
                        <h1>Why</h1>
                        <p>404&nbsp;-&nbsp; 404&nbsp;-&nbsp;404&nbsp;-&nbsp;404 </p>
                    </div>
                    <div class="bottom">
                        <div class="col-8">
                            <label>Date</label>
                            <p>12/00</p>
                            <h4>Not Cool.</h4>

                        </div>
                        <div class="col-4">
                            <i class="fab fa-bandcamp"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <h1>Wanna go home? </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1> click
                    <i class="fas fa-arrow-right"></i>
                    <a routerLink="/home">Here</a>
                    <i class="fas fa-arrow-left"></i>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h6>still can't leave? maybe consider this page your new home.</h6>
            </div>
        </div>
    </div>
</div>