@import "../../../../variables.scss";
.container {
    a{
        text-decoration: none;
    }
    .nav-item{
        transition:hover 0.2s ease-in-out;
    }
    .nav-item:hover{
        background: $theme-2;
        padding-left: 1px;
        border-radius: 20px;
    }
    #userP {
        margin: auto;
        font-family: $font-family;
        font-size: 20px;
        color: $theme-8;
        padding-right: 40px;
        margin-top: 2%;
        font-weight: 800;
    }

    .fa-youtube {
        color: #ff0000;
    }
    .fa-youtube:hover {
        color: $theme-5;
    }
    .fa-facebook {
        color: #3b5998;
    }
    .fa-facebook:hover {
        color: $theme-5;
    }
    .fa-linkedin {
        color: #0a66c2;
    }
    .fa-linkedin:hover {
        color: $theme-5;
    }
    .fa-github {
        color: black;
    }
    .fa-github:hover {
        color: $theme-5;
    }

    .nav-item {
        i,
        a {
            text-decoration: none;
        }
    }
}
