<div class="container ">
    <div class="row ">
        <div class="col-12">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="">
                    <p id="userP" class="navbar-item">{{user.firstName ? "Hello " + user.firstName : ""}} {{user.lastName}}</p>
                </li>
                <li class="nav-item">
                    <a *ngIf="!user.loggedIn" class="nav-link " aria-current="page" routerLink="/login">
                        <i class="fas fa-sign-in-alt"></i>&nbsp;Login
                    </a>
                </li>

                <li class="nav-item">
                    <a *ngIf="user.loggedIn && !user.isAdmin" class="nav-link " routerLink="/myAccount">
                        <i class="fas fa-user-circle"></i>&nbsp;Account
                    </a>
                    <a *ngIf="user.loggedIn && user.isAdmin" class="nav-link " routerLink="/admin/control">
                        <i class="fas fa-users-cog"></i>&nbsp;Control
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="/stocks" *ngIf=" user.isAdmin !== true">
                        <i class="far fa-chart-bar"></i>&nbsp;Stocks
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/about" *ngIf=" user.isAdmin !== true">
                        <i class="fas fa-question-circle"></i>&nbsp;About
                    </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="user.loggedIn" class="nav-link " (click)="logout()" routerLink="/home">
                        <i class="fas fa-sign-in-alt"></i>&nbsp;Loout
                    </a>
                </li>
                <li class="">
                    <div class="nav-link">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fab fa-youtube"></i> &nbsp;</a>
                        <a href="https://www.facebook.com/ranbarilan" target="_blank"><i class="fab fa-facebook"></i> &nbsp;</a>
                        <a href="https://www.linkedin.com/in/ranbarilan/" target="_blank"><i class="fab fa-linkedin"></i> &nbsp;</a>
                        <a href="https://github.com/ranbri" target="_blank"><i class="fab fa-github"></i>&nbsp;</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>