<div class="handbook">
    <br>
    <div class="col-12">
        <div class="row">
            <div class="col-4 col-md-2 ">
                <div class="list-group sticky-top">
                    <a class="list-group-item list-group-item-action " (click)="inView(item1)">Cards</a>
                    <a class="list-group-item list-group-item-action" (click)="inView(item2)">Loans</a>
                    <a class="list-group-item list-group-item-action" (click)="inView(item3)">Checks</a>
                    <a class="list-group-item list-group-item-action" (click)="inView(item4)">Investments</a>
                </div>
            </div>
            <div class="col-8 col-md-10">
                <h4 #item1>Cards</h4>
                <h5>
                    Cancellations and Removal:
                </h5>
                <h6>1.a</h6>
                <p>
                    All cards may be cancelled if a customer wish for it to be so. you may not cancel or remove a card
                    if a
                    customer has not requested it via the "messages" tab and only if the request was directly to your
                    Dizzy Admin's account.
                </p>
                <h6>1.b</h6>
                <p>
                    If card is cancelled all remaining credit on that card will deduct the customers balance at time of
                    cancellation.
                    this process can and will not be reversed. all reversal request must be notified a general manager
                    for further
                    assistance.
                </p>
                <h6>1.c</h6>
                <p>
                    Card removal is a permenant process and can not be reversed. a card number that has been removed
                    will not be assigned
                    to any user at any time.
                </p>
                <h6>1.d</h6>
                <p>
                    A maximum of 3 cards can be assigned to any user at all times. if a card is not permenantly removed
                    from the account a new card can not be registered.
                </p>
                <h6>1.f</h6>
                <p>
                    Card providers are our partners.
                    we can not control a payment that has been declined from our partner providers.
                </p>
                <hr>
                <h4 #item2>Loans</h4>
                <h6>2.a</h6>
                <p>
                    Customers are free to request a loan at any amount or spread.
                    yet, if the customer's balance is insuficient and or you as an admin has
                    any suspicion the customer will not be able to pay his loan DO NOT approve the loan and
                    deny it IMMEDIATELY.
                </p>
                <h6>2.b</h6>
                <p>
                    We do not require a reason for cancellation from an admin. saying so we urge you to message
                    a user with a polite letter explaining the decision at hand and if willing the reason behind it.
                </p>
                <h6>2.c</h6>
                <p>
                    Here at Dizzy we acknowledge that our customers may sometime struggle. we try to do what ever needed
                    so no one stay at debt.
                    if u see an insufficient balance close to the loan and payment reduction rate (the 1st of the month)
                    we urge u to contact the customer ASAP and try to sort a payment plan.
                </p>
                <hr>
                <h4 #item3>Checks</h4>
                <h6>3.a</h6>
                <p>
                    Checks are automatically apply after admin's approval.
                </p>
                <h6>3.b</h6>
                <label>
                    you may decline a check only for the following reasons:
                    <br>
                    &nbsp;<label class="h6">3.b.1</label>
                    <br>
                    &nbsp;&nbsp;<label>The date on the check is in the future.</label>
                    <br>
                    &nbsp;<label class="h6">3.b.2</label>
                    <br>
                    &nbsp;&nbsp;<label>The date on the check is more then 3 months in the past.</label>
                    <br>
                    &nbsp;<label class="h6">3.b.3</label>
                    <br>
                    &nbsp;&nbsp;<label>The check is from an unregistered person or company and can not be verified.</label>
                </label>
                <hr>
                <h4 #item4>Investments</h4>
                <p>
                    purus
                    gravida quis blandit. Posuere morbi leo urna molestie at elementum eu facilisis. Eros donec ac odio
                    tempor. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Mattis nunc sed blandit
                    libero volutpat sed cras ornare arcu. Cursus metus aliquam eleifend mi in nulla.
                </p>
            </div>

        </div>
    </div>
</div>