@import "../../../../variables.scss";
.login {
    padding: 12px;
    background: $theme-gradient-light;
    width: 100%;
    height: 100%;
    i{
        color: $theme-8;
    }
    p{
        font-size: 16px !important;
        color: $theme-error-medium;
    }
    .container{
        margin-top: 10%;
        padding: 20px;
        border: 1px solid $theme-6;
        border-radius: 20px;
        background: #fafafa;
    }
}
