@import "../../../../variables.scss";
.control {
    background: $theme-10;
    height: 100% !important;
}

.breadcrumb-item {
    color: #fafafa !important;
    label {
        opacity: 0.6;
    }
}
.notificationCircle {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 1px;
    background: red;
    border: 1px solid #fafafa;
    border-radius: 50%;
}
#dizzyAdminCarousel {
    width: 100% !important;
}
img {
    height: 400px !important;
    width: 400px !important;
}
.btn {
    margin: 5px;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
@media only screen and (max-width: 400px) {
    img {
        height: 350px !important;
        width: 350px !important;
    }
    .circle{
        width: 80px;
        height: 80px;
        p{
            font-size: 12px !important;
        }
    }
    .third{
        margin-top: -4px;
    }
    .notificationCircle{
        margin-top: -32px;
        margin-left: 9px;
    }
}
