@import "../../../../variables.scss";
.register {
    background: $theme-gradient-light;
    width: 100%;
    height: 100%;

    span {
        color: $theme-error-medium;
        margin-left: 5px;
    }
    p {
        font-family: $mukta;
        font-size: 24px;
    }

    .form-check-label {
        a {
            color: $theme-5;
            text-decoration: underline;
        }
    }
}
