<div class="about">
    <div class="cotainer">
        <div class="row ">
            <div class="col-12">
                <img src="http://localhost:3000/assets/photos/WhoAreWe.jpg" class="card-img" alt="who-img">
                <div class="card-img-overlay">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            &nbsp;
                            <li class="breadcrumb-item"><a routerLink="/home" class="link">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                    <h1 class="card-title text-muted">Who Are We?</h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-8">
            <img src="http://localhost:3000/assets/photos/office.jpeg" alt="our-office-img" class="card-img">
        </div>
    </div>
    <div class="row justify-content-center office">
        <div class="col-8 col-md-4">
            <p>
                <label>D</label>izzy was founded in 2021 by Ran Bar Ilan to make banking available for everyone.
                RBI's vision is to help those that are confused by all the "Money Talk" and whos
                public education failed them.
            </p>
        </div>
        <div class="col-8 col-md-4">
            <p>
                <label>W</label>ith the help of our amazing team we are able to give you the best tools
                and a crystal clear banking experience with a click of a button.
                no more getting Dizzy!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 " style="height:500px;">
            <br>
            <br>
            <br>
            <br>
            <br>
            <blockquote class="blockquote text-center">
                <p class="mb-0 theme">Don't steal from innocent people, it's bad karma.</p>
                <br>
                <footer class="blockquote-footer">Someone probably said that <cite title="Source Title">Somewhere</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="row meet">
        <div class="col-8">
            <h1>Meet The Team!</h1>
        </div>
    </div>
    <br>
    <hr>
    <div class="container">
        <div class="row team ">
            <div class="col-xl-3 col-sm-6 col-12 ">
                <div class="card" style="width: 14rem; height: 26rem;">
                    <img src="http://localhost:3000/assets/photos/RBI.jpg" class="card-img-top" alt="ran-profile-img">
                    <div class="card-body">
                        <h5 class="card-title">Ran Bar Ilan</h5>
                        <p class="card-text">
                            Ran our CEO built this bank by himself from his 1.5 bedroom apartment in Manhattan.
                        </p>
                    </div>
                    <div class="card-footer">
                        <h6>CEO & Founder</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3  col-sm-6 col-12">
                <div class="card" style="width: 14rem; height: 26rem;">
                    <img src="http://localhost:3000/assets/photos/her.jpeg" class="card-img-top"
                        alt="woman-profile-img">
                    <div class="card-body">
                        <h5 class="card-title">This Woman</h5>
                        <p class="card-text">
                            She came to our office and started to talk about
                            money and banking so we hired her.
                        </p>
                    </div>
                    <div class="card-footer">
                        <h6>VP Banking & Services</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3  col-sm-6 col-12">
                <div class="card" style="width: 14rem; height: 26rem;">
                    <img src="http://localhost:3000/assets/photos/Pointing-man.jpeg" class="card-img-top" alt="vr-profile-img">
                    <div class="card-body">
                        <h5 class="card-title">This Man</h5>
                        <p class="card-text">
                            People seem to like his smile so we made him their chief.
                        </p> &nbsp;
                    </div>
                    <div class="card-footer">
                        <h6>Chief of people</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3  col-sm-6 col-12">
                <div class="card" style="width: 14rem; height: 26rem;">
                    <img src="http://localhost:3000/assets/photos/ARBI.jpg" class="card-img-top" alt="vr-profile-img">
                    <div class="card-body">
                        <h5 class="card-title">ARan Bar Ilan</h5>
                        <p class="card-text">
                            He is a AR so we decided that would look good in the eyes of the Github Gods.
                        </p>
                    </div>
                    <div class="card-footer">
                        <h6>GitHub Manager</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>