@import "../../../../variables.scss";
.user-info {
    background: $theme-10;
    height: 100% !important;
 
    .cards{
        height: 480px;
        width: 100%;
        border: 1px solid #fafafa;
        padding: 4px;
        border-radius: 12px;
        margin-top: 5px;
    }
}