@import "../../../../variables.scss";
.container{
    border: 1px solid $theme-10;
    padding: 40px;
    border-radius: 20px;
    background: #fafafa;
}
mat-slider {
    width: 100%;
    border-radius: 20px;
    color: $theme-10 !important;
    filter: sepia(40%) !important;
    filter: invert(100%) !important;
}